.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .box {
    margin-left: 20px;
    background-color: cyan;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    color: black;

    &:hover {
      background-color: rgb(211, 106, 204);
    }
  }
}