header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .logo {
    font-size: 50px;
    font-weight: 600;
    color: cyan;

    @media (max-width: 768px){
      font-size: 18px;
    }
  }

  .link {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      gap: 0.5rem;
    }
    a{
      text-decoration: none;
      color: #333;
      font-weight: 600;
      transition: 0.3s;

      &:hover{
        color: #8a4baf;
      }
    }
  }
}
