.course-study-page {
  padding: 50px 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;

  h2 {
    font-size: 24px;
    color: #38090d;
    text-align: center;
  }

  h4 {
    font-size: 21px;
    color: #5270c1;
    text-align: center;
  }

  h5 {
    font-size: 20px;
    color: #2d3698;
    text-align: center;
  }

  a {
    text-decoration: none;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
}